entrypoint = "script.js"
modules = ["nodejs-20"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["sh", "-c", "npx serve"]
deploymentTarget = "cloudrun"
ignorePorts = false

[workflows]
runButton = "Static"

[[workflows.workflow]]
name = "Static"
author = 40116824

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx serve"

[[ports]]
localPort = 3000
externalPort = 80
